# dependencies
node_modules

# testing
coverage

# production
build
/client/build
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

# misc
.DS_Store
.env
npm-debug.log